@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Lobster&family=Oswald&family=Pacifico&family=Raleway:wght@300&display=swap');
body{
	background:linear-gradient(lightpink, lightskyblue);
	
}


h1{
	font-size: 45px;
	font-family: 'Pacifico', cursive;
	text-transform: uppercase;
}

p{ font-size: 20px;
	text-align: justify;
	word-spacing: 2px;

}
caption{
	font-size: 30px;
	font-family:cursive;
	text-align: center;

}

.bl1 img{
	float: center;
	margin: auto;

}


.bl2{
	border:solid 2px red;
	width: 480px;
	float: right;
}
.bl2 figcaption {
	font-family: cursive;
	text-align: center;

}
.bl3 img{
	margin: 5px;

	width: 480px;
	float: right;

	}
	.bl3 figure{
		color: red;
	}




table{
	border: double 4px black;
	font-size: 24px;
	width: 50%;
	border-collapse: collapse;
	margin: auto;

}

thead{
	background-color: darkblue;
}

tr,td{
	border: solid 3px black;
     width: 25%;
     border-collapse: collapse;
	margin: auto; }

	tr:hover{
	background-color: grey;}

	tr:nth-child(even){
	background-color: blueviolet;}

	tr:nth-child(odd){
	background-color: violet;}

	caption{ color:darkcyan; }

}
td:hover{ 
	text-align: center;
	background-image: url(https://th.bing.com/th/id/R.47f7dbba63c18ee9d27a0027f0d411c6?rik=0WNVHZ3fbAB0jw&pid=ImgRaw&r=0);
background-size: cover;
font-size: 1.5em;
color: white;
text-transform: uppercase;
font-weight: 500;
}
}

h2{ font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}

h3{ font-family: 'Oswald', sans-serif;
	font-size: 25px;
	text-transform: uppercase;}

h4{ font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-transform: uppercase;}

h5{ font-family: 'Oswald', sans-serif;
	font-size: 15px;
	text-transform: uppercase;}

dl{ font-family: sans-serif;
	font-size: 15px;
	text-transform: uppercase;
word-spacing: 2px}

dt{  font-family: sans-serif;
	font-size: 20px;
	text-transform: lowercase;
word-spacing: 2px}

}

li{ color: cyan;
	
}

